<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="externalReports/.generateReport"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="allianz.example_3_Post"/>
      <class name="allianz1.example_3"/>
      <class name="allianz.exampl1"/>
      <class name="allianz.example_2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
